* {
  margin: auto;
}

body {
  background-image: url("station.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  height: 500px;
  width: 400px;
  color: darkgreen;
}

h1 {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: auto;
  color: black;
}

h2 {
  font-size: 100px;
  margin-top: 0;
  margin-bottom: 20px;
  margin: auto;
}

p {
  margin-top: 5px;
  font-size: 20px;
}

button {
  color: white;
  width: 220px;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  border: none;
  margin-bottom: 5px;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
  outline: none;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transition: 0.2s all;
}

button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

#increment-btn {
  background: darkred;
}

#save-btn {
  background: darkgreen;
  margin-top: 10px;
}

#count-el {
  color: darkred;
}

#save-el {
  font-style: italic;
}